@model IEnumerable<TourGuide.Models.Country>

@{
    ViewData["Title"] = "Index";
}

<h1>Coutry Details</h1>

<p>
    <a class="btn btn-dark text-white" asp-action="Create">Add New Country</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                <a class="btn btn-dark text-white" asp-action="Edit" asp-route-id="@item.CountryID">Edit</a> |
                <a class="btn btn-dark text-white" asp-action="Details" asp-route-id="@item.CountryID">Details</a> |
                <a  class="btn btn-dark text-white" asp-action="Delete" asp-route-id="@item.CountryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
